.sp__wrapper
  .container
    sp-header(page-title="Privacy Policy")
    .row
      .col-md-6
        .panel
          .panel-body
            p pp
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
